<ActionBar title="Locations">
  <NavigationButton visibility="collapsed"></NavigationButton>
  <ActionItem position="left" icon="font://&#xf0a8;" class="fas" (tap)="goBack()"></ActionItem>
  <ActionItem
    ios.position="right"
    text="New"
    icon="font://&#xf067;"
    class="fas"
    (tap)="createNewLocation()"
    ></ActionItem>
</ActionBar>

<StackLayout >
  <SearchBar
    hint="Filter locations"
    (textChange)="searchUpdated($event)">
  </SearchBar>

  <ListView
    [items]="filteredLocations"
    (itemTap)="selectListEntry($event)"
  >
      <ng-template let-item="item" let-i="index">
        <Label [text]='item.name'></Label>
      </ng-template>
  </ListView>
</StackLayout>
