/* Add mobile styles for the component here.  */

.stockItem {
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
}

.productName {
  font-size: 20;
}

.nextBestBefore {
  color: #888;
}


.stockCounts {
  font-size: 15;
}

