 <GridLayout columns="40,*,40">
   <ng-container [ngSwitch]="status">
     <Image src='font://&#xf071;' col="0" *ngSwitchCase="'needs_product'" class='fas'></Image>
     <Image src='font://&#xf28b;' col="0" (tap)="pausedToggled.emit(true)" *ngSwitchCase="'save_paused'" class='fas'></Image>
     <Image src='font://&#xf00c;' col="0" *ngSwitchCase="'saved'" class='fas'></Image>
     <ActivityIndicator [busy]="true" *ngSwitchCase="'working'" ></ActivityIndicator>

     <Image src='font://&#xf017;' (tap)="pausedToggled.emit(true)" *ngSwitchCase="'pending_save'" class='fas'></Image>
   </ng-container>

   <Label col="1" [text]='entryName' ></Label>
   <Label [text]='scannedItem.quantity' col="2"></Label>
 </GridLayout>
