<StackLayout>
    <ns-text-input
      [control]="formControl('url')"
      label="Grocy URL"
      >
      <ns-form-error-text validator="pattern" message="Expected to be http(s)://somehost/api"></ns-form-error-text>
    </ns-text-input>
    <ns-text-input
      [control]="formControl('apiKey')"
      label="API Key"
      >
    </ns-text-input>

  <Label
    *ngIf="formControl('url').value !== ''"
    [text]="apiKeyText()"
    textAlignment="center"
    class="text-muted"
    textWrap="true"
    (tap)="openAPIKeyUrl()"
    ></Label>

   <Label
     *ngIf="lastHttpError"
     [text]="helpText"
     textAlignment="center"
     class="text-danger"
     textWrap="true"
     ></Label>

   <Label
     *ngIf="looksLikeHass()"
     [text]="hassHelpText"
     (tap)="openHassHelp()"
     textAlignment="center"
     class="text-danger"
     textWrap="true"
     ></Label>

   <Label
     *ngIf="grocyVersion"
     [text]="'Successfully connected to Grocy version ' + grocyVersion"
     textAlignment="center"
     class="text-primary"
     textWrap="true"
     ></Label>
   <ActivityIndicator [busy]="working"></ActivityIndicator>
</StackLayout>

