<StackLayout>
  <RadDataForm
    [source]="apiConfig"
    (propertyCommitted)="propertyCommitted()"
    (propertyValidated)="propertyCommitted()"
    validationMode="immediate"
    #configForm
    >
    <TKEntityProperty
      tkDataFormProperty
      name="url"
      displayName="URL to Grocy Server"
      index="0"
      hintText="http://something.com/api"
      required="true"
      >
      <TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
      <TKRegExValidator
        tkEntityPropertyValidators
        regEx="[hH]ttps?://.+/api"
        errorMessage="URL to Grocy should be http(s)://[host]/api"
        ></TKRegExValidator>
    </TKEntityProperty>

    <TKEntityProperty
      tkDataFormProperty
      name="apiKey"
      displayName="API Key"
      index="1"
      required="true"
      >
      <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Can't be empty." ></TKNonEmptyValidator>
    </TKEntityProperty>
  </RadDataForm>

  <Label
    *ngIf="apiConfig.url !== ''"
    [text]="apiKeyText()"
    textAlignment="center"
    class="text-muted"
    textWrap="true"
    (tap)="openAPIKeyUrl()"
    ></Label>

   <Label
     *ngIf="lastHttpError"
     [text]="helpText"
     textAlignment="center"
     class="text-danger"
     textWrap="true"
     ></Label>

   <Label
     *ngIf="grocyVersion"
     [text]="'Successfully connected to Grocy version ' + grocyVersion"
     textAlignment="center"
     class="text-primary"
     textWrap="true"
     ></Label>
</StackLayout>

