<StackLayout>
  <DockLayout class="sideTitleStackLayout">
      <Label dock="top" text="Pantry Party" class="logo"></Label>
  </DockLayout>
  <ScrollView row="1">
      <StackLayout class="sideStackLayout">

          <GridLayout (tap)="navigateTo(['/stock'])" class="item heading" columns="15, *">
            <Image col="0" src="font://&#xf2e7;" class="fas"></Image>
            <Label col="1" text="Current Stock"></Label>
          </GridLayout>
          <GridLayout class="item heading" columns="15, *">
            <Image col="0" src="font://&#xf02a;" class="fas"></Image>
            <Label col="1" text="Scan"></Label>
          </GridLayout>
            <GridLayout (tap)="navigateTo(['/scan/purchase'])" class="item subitem" columns="15, *">
              <Image col="0" src="font://&#xf155;" class="fas"></Image>
              <Label col="1" text="Purchase"></Label>
            </GridLayout>
            <GridLayout (tap)="navigateTo(['/scan/consume'])" class="item subitem" columns="15, *">
              <Image col="0" src="font://&#xf564;" class="fas"></Image>
              <Label col="1" text="Consume"></Label>
            </GridLayout>
            <GridLayout (tap)="navigateTo(['/scan/open'])" class="item subitem" columns="15, *">
              <Image col="0" src="font://&#xf49e;" class="fas"></Image>
              <Label col="1" text="Open"></Label>
            </GridLayout>
            <GridLayout (tap)="navigateTo(['/scan/spoiled'])" class="item subitem" columns="15, *">
              <Image col="0" src="font://&#xf2ed;" class="fas"></Image>
              <Label col="1" text="Spoil"></Label>
            </GridLayout>
            <GridLayout (tap)="navigateTo(['/scan/inventory'])" class="item subitem" columns="15, *">
              <Image col="0" src="font://&#xf468;" class="fas"></Image>
              <Label col="1" text="Inventory"></Label>
            </GridLayout>
          <GridLayout (tap)="navigateTo(['/products'])" class="item heading" columns="15, *">
            <Image col="0" src="font://&#xf49e;" class="fas"></Image>
            <Label col="1" text="Products"></Label>
          </GridLayout>
          <GridLayout (tap)="navigateTo(['/locations'])" class="item heading" columns="15, *">
            <Image col="0" src="font://&#xf3c5;" class="fas"></Image>
            <Label col="1" text="Locations"></Label>
          </GridLayout>
          <GridLayout (tap)="navigateTo(['/settings'])" class="item" columns="15, *">
            <Image col="0" src="font://&#xf013;" class="fas"></Image>
            <Label col="1" text="Settings"></Label>
          </GridLayout>
      </StackLayout>
  </ScrollView>
</StackLayout>
