<GridLayout>
    <RadListView
      [items]="orderedItems"
      itemReorder="true"
       reorderMode="Drag"
      (itemReordered)="onItemReordered($event)"
      >
        <ng-template let-i="index" let-item="item">
          <StackLayout orientation="horizontal">
            <Switch
              [(ngModel)]="item.service.enabled"
              col="0"
              horizontalAlignment="center"></Switch>
            <StackLayout (tap)="sourceTapped(item)" col="1">
              <Label
                class="h2"
                [text]="item.name" ></Label>
              <Label
                class="subtitle"
                [text]="item.url"
                (tap)="openUrl(item.url)"
                ></Label>
              <Label
                [text]="item.description"
                textWrap="true"
                ></Label>
              <Label
                text="Configuration Required"
                class="text-danger"
                *ngIf="item.service.configurationRequired"
                ></Label>
            </StackLayout>
          </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>
