<StackLayout>
    <Label
      textAlignment="center"
      height="40"
      [text]="pendingItemWarningText()"
      class="pendingItemsWarning"
      (tap)="quickCreateProducts()"
      *ngIf="showWarning"
      ></Label>
  <GridLayout>
    <ns-scanned-item-list
      [items]="scannedItemManager.updatedScannedItems | async"
      [pausedItems]="scannedItemManager.pausedItemBarcodes"
      [workingItems]="scannedItemManager.workingBarcodes"
      [respectsPurchaseFactor]="scannedItemManager.respectsPurchaseFactor"
      (itemPauseToggled)="handlePausedItem($event)"
      (itemTapped)="itemTapped($event)"
      (swipeOnItem)="swipeOnItem($event)"
      ></ns-scanned-item-list>
  </GridLayout>
</StackLayout>
