/* Add mobile styles for the component here.  */

.completableItemsWarning {
  background-color: green;
  color: white;
  font-size: 20em;
}

.unfoundItemsWarning {
  background-color: yellow;
  color: black;
  font-size: 20em;
}
