<StackLayout class="control-wrapper" *ngIf="control">
    <Label
      [text]="label"
      *ngIf="label.length > 0"
      class="field-label"
      ></Label>
    <ng-container
      *ngIf="pickerVisible"
      >
      <ListPicker
        [items]="optionNames"
        [selectedIndex]="selectedIndex"
        (selectedIndexChange)="onSelectedIndexChanged($event)"
        (doubleTap)="select()"
        ></ListPicker>
        <GridLayout height="40" [columns]="'*, *, *'" class='subMenu'>
          <Button (tap)="closePicker()" text="Close" col="0"> </Button>
          <Button (tap)="startCreate()" text="Create"  col="1" *ngIf="allowsCreate"> </Button>
          <Button (tap)="select()" text="Select" col="2"> </Button>
        </GridLayout>
    </ng-container>

  <ng-container
    *ngIf="!pickerVisible"
    >
    <Button
      [text]="displayText()"
      (tap)="openPicker()"
      class="-primary"
      ></Button>

    <ns-field-errors
      *ngIf="control.dirty && control.invalid"
      [errors]="errors()"
      [errorMessages]="errorMessages"
      >
    </ns-field-errors>
  </ng-container>

</StackLayout>
