<StackLayout class="control-wrapper" *ngIf="control">
  <Label
    [text]="label"
    *ngIf="label.length > 0"
    class="field-label"
    ></Label>
  <Button
    [text]="displayText()"
    (tap)="togglePicker()"
    *ngIf="!pickerVisible"
    class="-primary"
    ></Button>
  <Button
    [text]="selectItemText()"
    (tap)="select()"
    *ngIf="pickerVisible"
    class="select-item"
    ></Button>
  <ListPicker
    [items]="optionNames()"
    *ngIf="pickerVisible"
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="onSelectedIndexChanged($event)"
    ></ListPicker>
  <Label
    *ngFor="let error of control.errors | keyvalue"
    [text]="getErrorMessages(error.key)"
    class="field-errors text-danger"
    ></Label>
</StackLayout>
