/* Add mobile styles for the component here.  */
@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";

.scanSelector{
  &_wrappers {
    background-color: #EEE;
    border-bottom-color: #DDD;
    border-bottom-width: 1;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &_backFromExternalButton {
    background-color: #EEE;
    border: 0;
  }
}
