<ActionBar title="Create Product" class="action-bar">
  <NavigationButton visibility="collapsed"></NavigationButton>
  <ActionItem position="left" icon="font://&#xf0a8;" class="fas" (tap)="goBack()"></ActionItem>
  <ActionItem
    ios.position="right"
    icon="font://&#xf067;"
    text="Create"
    class="fas actionitem"
    (tap)="create()"
    ></ActionItem>
</ActionBar>

<RadDataForm
  [source]="grocyProduct"
  validationMode="immediate"
  #productCreate
  >
  <TKEntityProperty
    tkDataFormProperty
    name="name"
    displayName="Name"
    index="0"
    required="true"
    >
    <TKNonEmptyValidator
      tkEntityPropertyValidators
      errorMessage="Product name can't be empty."
      ></TKNonEmptyValidator>
  </TKEntityProperty>
  <TKEntityProperty
    tkDataFormProperty
    name="minStockAccmount"
    displayName="Minimum stock amount"
    index="1"
    >
    <TKPropertyEditor tkEntityPropertyEditor type="Stepper"></TKPropertyEditor>
    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Can't be empty." ></TKNonEmptyValidator>
    <TKRangeValidator tkEntityPropertyValidators minimum=0 maximum=10000000 errorMessage="Must be above 0" ></TKRangeValidator>
  </TKEntityProperty>
  <TKEntityProperty
    tkDataFormProperty
    name="bestBeforeDays"
    displayName="Default best before days"
    index="2"
    >
    <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Can't be empty." ></TKNonEmptyValidator>
    <TKRangeValidator tkEntityPropertyValidators minimum=0 maximum=10000000 errorMessage="Must be above 0" ></TKRangeValidator>
  </TKEntityProperty>
  <TKEntityProperty
    tkDataFormProperty
    name="bestBeforeDaysAfterOpen"
    displayName="Default best before days after open"
    index="3"
    >
    <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Can't be empty." ></TKNonEmptyValidator>
    <TKRangeValidator tkEntityPropertyValidators minimum=0 maximum=10000000 errorMessage="Must be above 0" ></TKRangeValidator>
  </TKEntityProperty>
  <TKEntityProperty
    tkDataFormProperty
    name="bestBeforeDaysAfterFreezing"
    displayName="Default best before days after freezing"
    index="4"
    >
    <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Can't be empty." ></TKNonEmptyValidator>
    <TKRangeValidator tkEntityPropertyValidators minimum=0 maximum=10000000 errorMessage="Must be above 0" ></TKRangeValidator>
  </TKEntityProperty>
  <TKEntityProperty
    tkDataFormProperty
    name="bestBeforeDaysAfterThawing"
    displayName="Default best before days after thawing"
    index="5"
    >
    <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Can't be empty." ></TKNonEmptyValidator>
    <TKRangeValidator tkEntityPropertyValidators minimum=0 maximum=10000000 errorMessage="Must be above 0" ></TKRangeValidator>
  </TKEntityProperty>
  <TKEntityProperty
    tkDataFormProperty
    name="quantityUnitPurchase"
    displayName="Purcahse Quanity Unit "
    [valuesProvider]="quantityUnits"
    index="6"
    >
    <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Can't be empty." ></TKNonEmptyValidator>
  </TKEntityProperty>
  <TKEntityProperty
    tkDataFormProperty
    name="quantityUnitStock"
    displayName="Stock Quanity Unit "
    [valuesProvider]="quantityUnits"
    index="7"
    >
    <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Can't be empty." ></TKNonEmptyValidator>
  </TKEntityProperty>
  <TKEntityProperty
    tkDataFormProperty
    name="purchaseFator"
    displayName="Purchase Factor"
    index="8"
    >
    <TKPropertyEditor tkEntityPropertyEditor type="Decimal"></TKPropertyEditor>
    <TKNonEmptyValidator tkEntityPropertyValidators errorMessage="Can't be empty." ></TKNonEmptyValidator>
    <TKRangeValidator tkEntityPropertyValidators minimum=0 maximum=10000000 errorMessage="Must be above 0" ></TKRangeValidator>
  </TKEntityProperty>
</RadDataForm>
