<ActionBar title="Create Location" class="action-bar">
  <NavigationButton></NavigationButton>
  <ActionItem
    ios.position="right"
    icon="font://&#xf0c7;"
    text="Create"
    class="fas actionitem"
    (tap)="create()"
    ></ActionItem>
</ActionBar>

<RadDataForm
  [source]="grocyLocation"
  validationMode="immediate"
  #locationCreate
  >
  <TKEntityProperty
    tkDataFormProperty
    name="name"
    displayName="Name"
    index="0"
    required="true"
    >
    <TKNonEmptyValidator
      tkEntityPropertyValidators
      errorMessage="Location name can't be empty."
      ></TKNonEmptyValidator>
  </TKEntityProperty>
  <TKEntityProperty
    tkDataFormProperty
    name="description"
    displayName="Description"
    index="1"
    ></TKEntityProperty>
  <TKEntityProperty
    tkDataFormProperty
    name="isFreezer"
    displayName="This is a freezer"
    index="2">
    <TKPropertyEditor tkEntityPropertyEditor type="Switch"></TKPropertyEditor>
  </TKEntityProperty>
</RadDataForm>
