<ActionBar title="Create Location" class="action-bar">
  <NavigationButton></NavigationButton>
  <ActionItem
    ios.position="right"
    icon="font://&#xf0c7;"
    text="Create"
    class="fas actionitem"
    *ngIf="form.valid"
    (tap)="create()"
    ></ActionItem>
</ActionBar>

<ns-ad-wrapper>
  <ScrollView>
    <StackLayout>
      <ns-text-input
        [control]="formControl('name')"
        label="Location Name">
        <ns-form-error-text validator="valueExists" message="Location name already exists"> </ns-form-error-text>
      </ns-text-input>
      <ns-text-input
        [control]="formControl('description')"
        label="Description"></ns-text-input>
      <ns-switch-input
        [control]="formControl('isFreezer')"
        label="Is Freezer?"></ns-switch-input>
      <Button
        (tap)="create()"
        [isEnabled]="form.valid"
        text="Create Location"
        class="-outline"></Button>
    </StackLayout>
  </ScrollView>
</ns-ad-wrapper>
